spring:
  application:
    name: bakabooru

  datasource:
    url: jdbc:sqlite:${app.data-dir}/db/data.sqlite
    driver-class-name: org.sqlite.JDBC
    username: ""
    password: ""

  jpa:
    database-platform: org.hibernate.community.dialect.SQLiteDialect
    show-sql: true
    hibernate:
      ddl-auto: none
  flyway:
    enabled: true
    locations: classpath:db/migration

  servlet:
    multipart:
      max-file-size: 500MB
      max-request-size: 500MB

server:
  address: 0.0.0.0
  port: 8080

app:
  data-dir: data
  tagger:
    url: http://localhost:8081/tag